<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.yuoj.mapper.CognitionReadingMapper">

    <resultMap id="BaseResultMap" type="com.yupi.yuoj.model.entity.CognitionReading">
            <id property="id" column="id" />
            <result property="title" column="title" />
            <result property="author" column="author" />
            <result property="focus" column="focus" />
            <result property="sort" column="sort" />
            <result property="createtime" column="createTime" />
            <result property="updatetime" column="updateTime" />
            <result property="isdelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,title,author,focus,sort,createTime,
        updateTime,isDelete
    </sql>
</mapper>
