<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.yuoj.mapper.DiaryMapper">

    <resultMap id="BaseResultMap" type="com.yupi.yuoj.model.entity.Diary">
            <id property="id" column="id" />
            <result property="userid" column="userId" />
            <result property="title" column="title" />
            <result property="content" column="content" />
            <result property="images" column="images" />
            <result property="tags" column="tags" />
            <result property="dietscore" column="dietScore" />
            <result property="energy" column="energy" />
            <result property="mood" column="mood" />
            <result property="sleep" column="sleep" />
            <result property="digestion" column="digestion" />
            <result property="practices" column="practices" />
            <result property="wisdominsight" column="wisdomInsight" />
            <result property="likes" column="likes" />
            <result property="isapproved" column="isApproved" />
            <result property="createtime" column="createTime" />
            <result property="updatetime" column="updateTime" />
            <result property="isdelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,title,content,images,tags,
        dietScore,energy,mood,sleep,digestion,
        practices,wisdomInsight,likes,isApproved,createTime,
        updateTime,isDelete
    </sql>
</mapper>
